<div class="viewSuppliersPage">
    
    <!-- 
        Sidebar
    -->
    <div class="sidebar">
        <header>
            <h1><span>Suppliers</span></h1>
        </header>
        <nav>
            <ul>
                
                <li ui-if="currentUser.hasPermission('add_supplier')">
                    <a href="#/contact/supplier/add">
                        Add Supplier
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    
    <!--
        Search Bar
    -->
    <div data-search-bar></div>
    
    <!--
        Workspace
    -->
    
    <div class="workspace grid">
    	<div class="grid-style" ng-grid="gridOptions"></div>
    </div>
    
    
</div>