	<form name="form" novalidate class="addLumberPage addPage">
		<div class="toolbar">
			<button type="submit" ng-disabled="form.$invalid" ng-click="changePassword()">Save New Password</button>
		</div>
		<div class="workspace">
			<table>
				<tr>
					<td><label>Old Password</label></td>
					<td><input type="password" required ng-model="password.old" /></td>
				<tr>
					<td><label>New Password</label></td>
					<td><input type="password" required ng-model="password.newPass" /></td>
				</tr>
				<tr>
					<td><label>Repeat New Password</label></td>
					<td><input type="password" required ng-model="password.repeatPass" /></td>
				</tr>
				
			</table> 
		</div>
		
		
		
	</form>
	
