<div class="acknowledgementViewPage">
    
    <!--
        Sidebar
    -->
    
    <div class="sidebar">
        <header>
            <h1>
                <span>Projects</span>
            </h1>
        </header>
        <nav>
            <ul class="list">
                <li ui-if="currentUser.hasPermission('add_acknowledgement')">
                    <a ng-href="#/project/add">Create</a>
                </li>
            </ul>
        </nav>
        
    </div>
    
    <!--
        Search Bar
    -->
    
    <div data-search-bar></div>
    
    <!--
        Workspace
    -->
    
    <div class="workspace grid">
        <div class="header">
            <div class="row">
                <div class="cell id">Project#</div>
                <div class="cell customer">Customer</div>
                <div class="cell status">Status</div>
                <div class="cell delivery-date">Delivery Date</div>
                <div class="cell order-date">Order Date</div>
                <div class="cell processed-by">Processed By</div>
               
            </div>
        </div>
        <div class="listContainer">
            
            <div class="grid">
                
                <div class="body">
                    <a class="row" data-ng-repeat="project in projectList | filter:query | orderBy:'status' | orderBy:'-id' | limitTo:100" ng-href="#/project/{{project.id}}" >
                        <div class="cell id">{{project.id}}</div>
                        <div class="cell customer">{{project.customer.name}}</div>
                        <div class="cell status" ng-class="{projectnowledged:project.status == 'projectNOWLEDGED',shipped:project.status=='SHIPPED'}">{{project.status}}</div>
                        <div class="cell delivery-date">{{project.delivery_date | date:"MMMM d, yyyy"}}</div>
                        <div class="cell order-date">{{project.time_created | date:"MMMM d, yyyy"}}</div>
                        <div class="cell processed-by">{{project.employee}}</div>
                        
                    </a>
                </div>
            </div>
            <div class="list">
                
                    <!--
                    <a ng-repeat="project in projectList | filter:query | orderBy:'-id' | limitTo:50" class="row" ng-href="#/order/projectnowledgement/{{project.id}}">
                        <div class="cell">
                            <div class="details">
                                <div class="details-row">
                                    <div class="details-title">project#:</div>
                                    <div class="details-data">{{project.id}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Customer:</div>
                                    <div class="details-data">{{project.customer.name}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Order Date:</div>
                                    <div class="details-data">{{project.time_created | date:"MMMM d, yyyy"}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Delivery Date:</div>
                                    <div class="details-data">{{project.delivery_date | date:"MMMM d, yyyy"}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Ordered By:</div>
                                    <div class="details-data">{{project.employee}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Status:</div>
                                    <div class="details-data" 
                                    ng-class="{projectnowledged:project.status == 'projectNOWLEDGED',shipped:project.status=='SHIPPED'}">{{project.status}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    -->
            </div>
        </div>
    </div>
    
</div>