	<form name="form" class="addWoolPage addPage">
		<div class="toolbar">
			<button type="submit" ng-disabled="form.$invalid" ng-click="save()">Save</button>
		</div>
		<div class="workspace">
			<table>
				<tr>
					<td><label>Supplier</label></td>
					<td><select required ng-options="supplier.name for supplier in supplierList" ng-model="thread.supplier"></select></td>
				</tr>
				<tr>
					<td><label>Reference Number</label></td>
					<td><input type="text" ng-model="thread.reference" /></td>
				</tr>
				<tr>
					<td><label>Color</label></td>
					<td><input beautify type="text" required ng-model="thread.color" /></td>
				</tr>
				<tr>
					<td><label>Cost per Spool</label></td>
					<td><input required type="text" ng-pattern="/^[1-9](\d+)?(\.\d{2})?$/" ng-model="thread.cost" /></td>
				</tr>
				
			</table> 
		</div>
		
		
		
	</form>
	
