<div class="shipping-view-page">
    
    <!--
        Sidebar
    -->
    
    <div class="sidebar">
        <header>
            <h1>
                <span>Shipping</span>
            </h1>
        </header>
        <nav>
            <ul class="list">
                <li ui-if="currentUser.hasPermission('add_shipping')"><a ng-href="#/order/shipping/create">Create</a></li>
                <li><a ng-href="#/order/shipping/delivery">View Deliveries</a></li>
                <li><a ng-href="#/order/shipping/deliveries/week">View Weekly Deliveries</a></li>
                <li><a ng-href="#/order/shipping/deliveries/today">View Today's Deliveries</a></li>
            </ul>
        </nav>
        
    </div>
    
    <!--
        Search Bar
    -->
    
    <div data-search-bar></div>
    
    <!--
        Workspace
    -->
    
    <div class="workspace grid">
        
        <div class="header">
            <div class="row">
                <div class="cell id">Shipping#</div>
                <div class="cell customer">Customer</div>
                <div class="cell delivery-date">Delivery Date</div>
                <div class="cell processed-by">Processed By</div>
               
            </div>
        </div>
        <div class="listContainer">
            
            <div class="grid">
                
                <div class="body">
                    <a ng-repeat="shipping in shippingList | filter:query | limitTo:50 | orderBy:'-id'" class="row" ng-href="#/order/shipping/{{shipping.id}}">
                        <div class="cell id">{{shipping.id}}</div>
                        <div class="cell customer">{{shipping.customer.name}}</div>
                        <div class="cell delivery-date">{{shipping.delivery_date | date:"MMMM d, yyyy"}}</div>
                        <div class="cell processed-by">{{shipping.employee}}</div>
                        
                    </a>
                </div>
            </div>
        </div>
        
        <!--
        <div class="listContainer">
            <div class="list">
                
                    <a ng-repeat="shipping in shippingList | filter:query | limitTo:50 | orderBy:'-id'" class="row" ng-href="#/order/shipping/{{shipping.id}}">
                        <div class="cell">
                            <div class="details">
                                <div class="details-row">
                                    <div class="details-title">Shipping#:</div>
                                    <div class="details-data">{{shipping.id}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Customer:</div>
                                    <div class="details-data">{{shipping.customer.name}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Delivery Date:</div>
                                    <div class="details-data">{{shipping.delivery_date | date:"MMMM d, yyyy"}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Ordered By:</div>
                                    <div class="details-data">{{shipping.employee | date:"MMMM d, yyyy"}}</div>
                                </div>
                            </div>
                        </div>
                        
                    </a>
                
            </div>
        </div>-->
    </div>
    
</div>