	<form name="form" novalidate class="addLumberPage addPage">
		<div class="toolbar">
			<button type="submit" ng-disabled="form.$invalid" ng-click="save()">Save</button>
		</div>
		<div class="workspace">
			<table>
				<tr>
					<td><label>Supplier</label></td>
					<td><select required ng-options="supplier.name for supplier in supplierList" ng-model="lumber.supplier"></select></td>
				</tr>
				<tr>
					<td><label>Reference Number</label></td>
					<td><input type="text" ng-model="lumber.reference" /></td>
				</tr>
				<tr>
					<td><label>Type</label></td>
					<td>
						<select required ng-model="lumber.type">
							<option value="Alder">Alder</option>
							<option value="Beech">Beech</option>
							<option value="Oak">Oak</option>
							<option value="MDF">MDF</option>
						</select>
					</td>
				</tr>
				
				<tr>
					<td><label>Width</label></td>
					<td><input name="width" type="text" ng-pattern="/^[1-9](\d+)?$/" ng-model="lumber.width" required/></td>
				</tr>
				<tr>
					<td><label>Length</label></td>
					<td><input type="text" ng-pattern="/^[1-9](\d+)?$/" ng-model="lumber.depth" required/></td>
				</tr>
				<tr>
					<td><label>Thickness</label></td>
					<td><input type="text" ng-pattern="/^[1-9](\d+)?$/" ng-model="lumber.height" required/></td>
				</tr>
				<tr>
					<td><label>Cost per Piece</label></td>
					<td><input type="text" ng-model="lumber.cost" ng-pattern="/^[1-9](\d+)?(\.\d{2})?$/" required/></td>
				</tr>
				
			</table> 
		</div>
		
		
		
	</form>
	
