<!DOCTYPE html>
<html lang="en" ng-app="EmployeeCenter">
<head>
  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet/css" type="text/css" href="css/angular-ui.min.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  
  
  
  <script src="js/services/resource.js"></script>
  <script src="js/services/services.js"></script>
  <script src="js/services/user.js"></script>
  <script src="js/services/interceptors.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/angular-ui.min.js"></script>

  <script src="js/filters.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/controllers/products/model/AddModel.js"></script>
  <script src="js/controllers/products/model/ViewModels.js"></script>
  <script src="js/controllers/products/model/ModelDetails.js"></script>
  <script src="js/controllers/products/upholstery/AddUpholstery.js"></script>
  <script src="js/controllers/products/upholstery/UpholsteryDetails.js"></script>
  <script src="js/controllers/suppliers/SupplierDetails.js"></script>
  <script src="js/controllers/suppliers/ViewSuppliers.js"></script>
  <script src="js/controllers/suppliers/AddSupplier.js"></script>
  <script src="js/controllers/customers/AddCustomer.js"></script>
  <script src="js/controllers/customers/CustomerDetails.js"></script>
  <script src="js/controllers/customers/ViewCustomers.js"></script>
  <script src="js/controllers/supplies/fabric/AddFabric.js"></script>
  <script src="js/controllers/supplies/fabric/FabricDetails.js"></script>
  <script src="js/controllers/supplies/fabric/ViewFabrics.js"></script>
  <script src="js/controllers/supplies/foam/Addfoam.js"></script>
  <script src="js/controllers/supplies/foam/FoamDetails.js"></script>
  <script src="js/controllers/supplies/foam/ViewFoam.js"></script>
  <script src="js/controllers/supplies/glue/AddGlue.js"></script>
  <script src="js/controllers/supplies/glue/GlueDetails.js"></script>
  <script src="js/controllers/supplies/glue/ViewGlue.js"></script>
  <script src="js/controllers/orders/acknowledgements/view.js"></script>
  <script src="js/controllers/orders/acknowledgements/create.js"></script>
  <script src="js/controllers/orders/acknowledgements/details.js"></script>
  <script src="js/controllers/orders/shipping/ViewShipping.js"></script>
  <script src="js/controllers/orders/shipping/CreateShipping.js"></script>
  <script src="js/controllers/orders/shipping/weekly.js"></script>
  <script src="js/controllers/orders/shipping/today.js"></script>
  <script src="js/controllers/orders/po/orders_controller.js"></script>
  <script src="js/products_controllers.js"></script>
  <script src="js/supplies_controllers.js"></script>
  <script src="js/admin_controller.js"></script>
  <script src="js/settings_controller.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAOLXHtWOGh4Hh8JkA1u4zbwYZR990668k&sensor=true" type="text/javascript"></script>


</head>
<body  ng-controller="MainMenuCtrl" ng-init="showActionMenu=false">
	<div id="notification">testing the notification system</div>
	<div class="mainMenu">
		<img class="logo" src="img/DellaLogo.png" />
		<ul class="mainMenuContainer" ng-init="module=null">
			<li class="menuItem" ng-show="currentUser.hasModule('contacts')" ng-click="module='contacts';mainContainer='active'">
				<a ng-href="#/contacts">Contacts</a>
				
			</li>
			<li class="menuItem" ng-show="currentUser.hasModule('products')" ng-click="module='contacts';mainContainer='active'">
				<a ng-href="#/products">Products</a>
				
			</li>
			<li class="menuItem" ng-show="currentUser.hasModule('supplies')" ng-click="module='supplies'">
				<a ng-href="#/supplies">Supplies</a>
				
			</li>
			<li class="menuItem" ng-show="currentUser.hasModule('acknowledgements') || currentUser.hasModule('shipping') || currentUser.hasModule('orders')" 
			ng-click="module='orders'">
				<a ng-href="#/orders">Orders</a>
				
			</li>
			<li class="menuItem" ng-show="currentUser.hasModule('administrator')" ng-click="module='administrator'">
				<a ng-href="#/administrator">Administrator</a>
				
			</li>
			<li class="menuItem" ng-show="currentUser.hasModule('administrator')" ng-click="module='administrator'">
				<a ng-href="#/library">Photo Library</a>
				
			</li>
			
		</ul>
		<a href="/logout" class="logout">Logout</a>
	</div>
	
	
	
	

	<div ng-view class="mainContainer" ng-class="mainContainer">
		
	</div>
</body>
</html>
