<form class="detailsPage">
	<div class="toolbar">
			<button type="button" ng-click="remove()">Delete</button>
	</div>
	<table>
			<tr>
				<td><label>Description</label></td>
				<td><input type="text" ng-model="fabric.description" ec-blur="update()" /></td>
			</tr>
			
			<tr>
				<td><label>Pattern</label></td>
				<td><input type="text" ng-model="fabric.pattern" ec-blur="update()" /></td>
			</tr>
			
			<tr>
				<td><label>Color</label></td>
				<td><input type="text" ng-model="fabric.color" ec-blur="update()" /></td>
			</tr>
			<tr>
				<td><label>Cost per Yard</label></td>
				<td><input type="text" ng-model="fabric.cost" ec-blur="update()" /></td>
			</tr>
			
		</table> 
	
</form>