

<div class="fabricDetailsPage" ng-init="showAdd=false;showSubtract=false; showReset=false; showLog=false"  image-drop-target>
	
	<!--
		Sidebar
	-->
	<div class="sidebar">
		<header>
			<h1><span>{{fabric.pattern}}<br />{{fabric.color}}</span></h1>
		</header>
		<nav>
			<ul>
				<li>
					<div ng-click="showAdd=!showAdd">Add Length</div>
				</li>
				<li>
					<div ng-click="showSubtract=!showSubtract">Subtract Length</div>
				</li>
				<li>
					<div ng-click="showReset=!showReset">Reset Length</div>
				</li>
				<li>
					<div ng-click="viewLog();showLog=!showLog">View Log</div>
				</li>
				<li>
					<div ng-click="remove()">Delete</div>
				</li>
					
			</ul>
		</nav>
	</div>
	
	<!--
		Add Length Modal
	-->
	<form name="addForm" novalidate class="addModal" ng-show="showAdd">
		<div class="title" ng-click="showAdd=false">Add Fabric Length</div>
		<table class="table">
			<tr>
				<td>Length</td>
				<td><input beautify type="text" ng-pattern="/^(\d+)?(\.\d+)?$/" required ng-model="addLength" /></td>
			</tr>
			<tr>
				<td>Remarks</td>
				<td><textarea cols="25" rows="8" ng-model="addRemark"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="button" ng-disabled="addForm.$invalid" ng-click="add()">Add</button>
				</td>
			</tr>
			
		</table>
	</form>
	<!--
		Subtract Length Modal
	-->
	<form name="subtractForm" novalidate class="addModal" ng-show="showSubtract">
		<div class="title" ng-click="showSubtract=false">Subtract Fabric Length</div>
		<table class="table">
			<tr>
				<td>Length</td>
				<td><input beautify type="text" ng-pattern="/^(\d+)?(\.\d+)?$/" required ng-model="subtractLength" /></td>
			</tr>
			<tr>
				<td>Remarks</td>
				<td><textarea cols="25" rows="8" ng-model="subtractRemark"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="button" ng-disabled="subtractForm.$invalid" ng-click="subtract()">Subtract</button>
				</td>
			</tr>
			
		</table>
	</form>
	<!--
		Reset Length Modal
	-->
	<form name="resetForm" novalidate class="addModal" ng-show="showReset">
		<div class="title" ng-click="showReset=false">Reset Fabric Length</div>
		<table class="table">
			<tr>
				<td>Length</td>
				<td><input beautify type="text" ng-pattern="/^(\d+)?(\.\d+)?$/" required ng-model="resetLength" /></td>
			</tr>
			<tr>
				<td>Remarks</td>
				<td><textarea cols="25" rows="8" ng-model="resetRemark"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="button" ng-disabled="resetForm.$invalid" ng-click="reset()">Reset</button>
				</td>
			</tr>
			
		</table>
	</form>
	<form>
		
		<table>
				<tr>
					<td><label>Supplier</label></td>
					<td>{{fabric.supplier.name}}</td>
				</tr>
				<tr>
					<td><label>Description</label></td>
					<td><input type="text" ng-model="fabric.description" ec-blur="update()" /></td>
				</tr>
				<tr>
					<td><label>Reference Number</label></td>
					<td><input type="text" ng-model="fabric.reference" ec-blur="update()" /></td>
				</tr>
				<tr>
					<td><label>Pattern</label></td>
					<td><input type="text" ng-model="fabric.pattern" ec-blur="update()" /></td>
				</tr>
				
				<tr>
					<td><label>Color</label></td>
					<td><input type="text" ng-model="fabric.color" ec-blur="update()" /></td>  
				</tr>
				<tr>
					<td><label>Width</label></td>
					<td><input type="text" ng-model="fabric.width" ec-blur="update()"  ng-pattern="/^[1-9](\d+)?(\.\d{2})?$/" /></td>
				</tr>
				<tr>
					<td><label>Cost per Yard</label></td>
					<td><input type="text" ng-model="fabric.cost" ec-blur="update()"  ng-pattern="/^[1-9](\d+)?(\.\d{2})?$/" />{{fabric.supplier.currency}}</td>
				</tr>
				<tr>
					<td><label>Current Length</label></td>
					<td>{{fabric.depth}}</td>
				</tr> 
				
			</table>
			<div class="logContainer" ng-show="showLog">
				<table>
					<thead>
						<tr>
							<th>Action</th>
							<th>Employee</th>
							<th>Length</th>
							<th>Total</th>
							<th>Remarks</th>
							<th>Timestamp</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="log in logs"> 
							<td>{{log.action}}</td>
							<td>{{log.employee}}</td>
							<td>{{log.length}}</td>
							<td>{{log.total}}</td>
							<td>{{log.remarks}}</td>
							<td>{{log.timestamp}}</td>
						</tr>
					</tbody>
					
				</table>
			</div>
			<div ng-repeat="image in imagePreviews" style="position: absolute; right:10px; top:10px;">
				<img style="width:100px; height:auto;" ng-src="{{image.url}}" />
			</div>
		
	</form>
</div>