<div class="viewPage">
	
	<input class="searchBar" placeholder="Search" type="text" ng-model="query" />
	
	
	<div class="listContainer">
		<table class="list">
			<thead>
				<tr>
					<th>Ref</th>
					<th>Pattern</th>
					<th>Color</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="fabric in fabricList | filter:query" class="listItem">
					<td><a ng-href="#/fabric/{{fabric.id}}">{{fabric.reference}}</a></td>
					<td><a ng-href="#/fabric/{{fabric.id}}">{{fabric.pattern}}</a></td>
					<td><a ng-href="#/fabric/{{fabric.id}}">{{fabric.color}}</a></td>
					
			</tbody>
			
		</table>
	</div>
</div>