<div class="viewFabricPage">

	<!--
		Sidebar
	-->
	<div class="sidebar">
		<header>
			<h1><span>Fabric</span></h1>
		</header>
		<nav>
			<ul>
				<li>
					<a ng-href="#/fabric/add_fabric">Add Fabric</a>
				</li>
				
			</ul>
		</nav>
	</div>
	
	<!--
		Search Bar
	-->
	<div class="searchBar" >
		<input size="40" placeholder="Search" ng-model="query" />
	</div>
	
	
	<!--
		Workspace
	-->
	
	<div class="workspace" style="z-index:1;">
		<div class="listContainer">
			<table class="list">
				
				<tbody>
					<tr ng-repeat="fabric in fabricList | filter:query" class="listItem" clickUrl="#/fabric/{{fabric.id}}">
						<td style="width:130px; position:relative">
							<div style="margin:0; overflow:hidden; position:absolute; top:0px;right:0px;left:0px;bottom:0px;">
								<img style="height:100%" ng-src="{{fabric.image_url}}" />
							</div>
							
						</td>
						<td>
							<table class="detailsTable">
								<tr>
									<td>Supply ID</td>
									<td>{{fabric.id}}</td>
								</tr>
								<tr>
									<td>Supplier:</td>
									<td>{{fabric.supplier.name}}</td>
								</tr>
								<tr>
									<td>Pattern:</td>
									<td>{{fabric.pattern}}</td>
								</tr>
								<tr>
									<td>Color:</td>
									<td>{{fabric.color}}</td>
								</tr>
								<tr>
									<td>Content</td>
									<td>{{fabric.content}}</td>
								</tr>
								<tr>
									<td>Current Length</td>
									<td>{{fabric.depth}}</td>
								</tr>
								<tr>
									<td>Reserved Length</td>
									<td>{{fabric.reserved_length}}</td>
								</tr>
							</table>
						</td>
						<td><a ng-href="#/fabric/{{fabric.id}}">edit</a></td>
						
						
				</tbody>
				
			</table>
		</div>
	</div>
	
</div>