

.acknowledgementViewPage{
    .viewPage;
    .workspace{
        .header{
            
            .row{
                
                .cell{
                    
                    &.id{
                        width:10%;
                    }
                    &.customer{
                        width:25%;
                    }
                    &.order-date{
                        width:15%;
                    }
                    &.delivery-date{
                        width:15%
                    }
                    &.processed-by{
                        width:20%;
                    }
                    &.status{
                        width:15%;
                    }
                }
            }
        }
            
        .listContainer{
            
            
            
        
            //Grid
            .grid{
                .row{
                  /*
                  &.acknowledged{
                      .cell{color:yellow};
                  }
                  &.shipped{
                      .cell{color:green};
                  }*/
                  .cell{
                      &.id{
                          width:10%;
                      }
                      &.customer{
                          width:25%;
                      }
                      &.order-date{
                          width:15%;
                      }
                      &.delivery-date{
                          width:15%
                      }
                      &.processed-by{
                          width:20%;
                      }
                      &.status{
                          width:15%;
                      }
                  }
               }
            }
        }
        
    }
}
