<div class="groupDetailsPage detailsPage">
	
	<!--SideBar Section-->
	
	<div class="sidebar">
		<header>
			<h1><span>{{group.name}}</span></h1>
		</header>
		<nav>
			<ul>
				<li>
					<div ng-click="viewMap()">
						View Map
					</div>
				</li>
				<li>
					<div ng-click="remove()">Delete</div>
				</li>
			</ul>
		</nav>
	</div>
	
	<div class="workspace">
		
		<div>
			<div>{{group.name}}</div>
		</div>
		<div class="permissionList">
			<ul>
				<li ng-repeat='perm in permissionList'>
					<input type="checkbox" ng-model="perm.checked" ng-checked="perm.status == true" ng-click="updatePermission($index)">{{perm.app}} {{perm.name}}</div>
				</li>
			</ul>
		</div>
	</div>
	
	
</div>