<div class="viewModelsPage viewPage">
	
	<input class="searchBar" placeholder="Search" type="text" ng-model="query" />
	
	
	<div class="listContainer">
		<table class="list">
			<thead>
				<tr>
					<th>Description</th>
					<th>Text</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="wool in woolList | filter:query" class="listItem">
					<td><a ng-href="#/wool/{{wool.id}}">{{wool.description}}</a></td>
					<td><a ng-href="#/wool/{{wool.id}}">{{wool.tex}}</a></td>
				</tr>
			</tbody>
			
		</table>
	</div>
</div>