<div class="detailsPage">
	<div class="toolbar">
			<button type="button" ng-click="remove()">Delete</button>
	</div>
	<table>
			<tr>
				<td><label>Description</label></td>
				<td><input type="text" ng-model="wool.description" ec-blur="update()" /></td>
			</tr>
			
			
			<tr>
				<td><label>Tex</label></td>
				<td><input type="text" ng-model="wool.tex" ec-blur="update()" /></td>
			</tr>
			
			<tr>
				<td><label>Cost per Kilogram</label></td>
				<td><input type="text" ng-model="wool.cost" ec-blur="update()" /></td>
			</tr>
			
		</table> 
	
</div>