<div class="viewPage">
    
    <!--
        Sidebar
    -->
    <div class="sidebar">
        <header>
            <h1><span>Suppliers</span></h1>
        </header>
        <nav>
            <ul>
                <li ui-if="currentUser.hasPermission('add_user')">
                    <div click-url="/administrator/user/add">
                        Create User
                    </div>
                </li>
            </ul>
        </nav>
    </div>  
    
    <div class="searchBar">
        <input type="text" ng-model="query" />
    </div>
    
    <div class="workspace">
        <div class="listContainer">
            <div class="list">
                    <a ng-repeat="user in userList | filter:query | orderBy:'first_name'" class="row" ng-href="#/administrator/user/{{user.id}}">
                        <div class="cell">
                            <div class="details">
                                <div class="details-row">
                                    <div class="details-title">Name:</div>
                                    <div class="details-data">{{user.first_name+' '+user.last_name}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Username:</div>
                                    <div class="details-data">{{user.username}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Email:</div>
                                    <div class="details-data">{{user.email}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Last Login:</div>
                                    <div class="details-data">{{user.last_login | date:"MMM d, y h:mm:ss a"}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
            </div>
        </div>
    </div>
    
</div>