
<div class="inventory-page">
    
    <!--
        Forms
    -->
    
    <div class="products" data-modal data-ng-model="addInventory" data-ng-switch on="selection" data-ng-init="selection='upholstery'"> 
        <div class="title">Add an Inventory Item ✓</div>
        <div class="selector">
            <ul>
                <li data-ng-click="selection='upholstery'" data-ng-class="{'active':selection=='upholstery'}">Upholstery</li>
                <li data-ng-click="selection='table'" data-ng-class="{'active':selection=='table'}">Table</li>
                <li data-ng-click="selection='custom'" data-ng-class="{'active':selection=='custom'}">Custom</li>
            </ul>
        </div>
        
        <div class="details upholstery" data-ng-switch-default>
            <div data-search-bar data-ng-model="upholsteryQuery"></div>
            <div class="container">
                <div class="list">
                    <div class="row" data-ng-repeat="upholstery in upholsteryList| filter:upholsteryQuery" data-ng-click="addUpholstery(upholstery)">
                        <div class="cell image">
                            <img ng-src="{{upholstery.url}}"/>
                        </div>
                        <div class="cell">
                            {{upholstery.description}}
                        </div>
                    </div>
                </div>  
            </div>
                          
        </div>
        
        <div class="details upholstery" data-ng-switch-when="table">
            <div data-search-bar data-ng-model="tableQuery"></div>
            <div class="container">
                <div class="list">
                    <div class="row" data-ng-repeat="table in tableList| filter:tableQuery" data-ng-click="addTable(table)">
                        <div class="cell image">
                            <img ng-src="{{table.url}}"/>
                        </div>
                        <div class="cell">
                            {{table.description}}
                        </div>
                    </div>
                </div>  
            </div>
                          
        </div>
        <form class="details custom" name="form" novalidate ng-switch-when="custom">
                <table>
                    <tr class="description">
                        <td>Description</td>
                        <td><input type="text" ng-model="item.description" required /></td>
                    </tr>
                </table>
                <div class="image-controller">
                    <h2>Image Controls</h2>
                    <button data-ng-click="cropper.crop()">Crop</button>
                    <button data-ng-click="cropper.save()">Save</button>
                    <button data-ng-click="previewCustomImage(cropper.getImageAsURL())">Preview</button>
                    <table>
                        <tr>
                            <td>Width:</td>
                            <td>{{cropper.image.scaled_width | number:0}}px</td>
                        </tr>
                        <tr>
                            <td>Height:</td>
                            <td>{{cropper.image.scaled_height | number:0}}px</td>
                        </tr>
                        <tr>
                            <td>Scale:</td>
                            <td><input type="number" data-ng-model="cropper.scale" min="0" max="100">%</td>
                        </tr>
                    </table>
                </div>
                
                <div class="image-preview" file-cropper>
                </div>
                
                <div class="bottom_bar">
                    <button ng-disabled="form.$invalid || uploading" ng-click="addCustomItem(item, cropper.getImage())">Add Item</button>
                </div>
        </form>
        <div class="details quantity" data-ng-switch-when="quantity">
            <table>
                <tr>
                    <td>
                        Quantity: 
                    </td>
                    <td>
                        <input ng-model="quantity" required ng-pattern="/^\d+$/" />
                    </td>
                </tr>
            </table>
            <div class="bottom-bar">
                <button ng-click="setQuantity(quantity); quantity=0">Save Quantity</button>
                
            </div>
        </div>
        <div class="details fabric" data-ng-switch-when="fabric">
            <search-bar data-ng-model="queryFabric"></search-bar>
            <div class="product_container">
                <div class="product" data-drop-on="product.fabric">
                    <div>{{product.description}}</div>
                    
                    <div class="fabric" ui-if="product.fabric">
                        Fabric:  {{product.fabric.description}}
                        <img ng-src="{{product.fabric.image_url}}" />
                    </div>
                    
                </div>
                <div class="pillow" ng-repeat="pillow in product.pillows" data-drop-on="pillow.fabric">
                    <div>{{pillow.type | beautify}} Pillow</div>
                    <div class="fabric">
                        Fabric: {{pillow.fabric.description}}
                        <img ng-src="{{pillow.fabric.image_url}}" />
                    </div>
                </div>
            </div>
            <div class="fabric_container">
                <ul class="list">
                    <li class="item" ng-repeat="fabric in fabricList | filter:queryFabric " data-drag-on="fabric">
                        <img ng-src="{{fabric.image_url}}" />
                        <div class="details">
                            Pattern: {{fabric.pattern}}
                            <br />
                            Color: {{fabric.color}}
                        </div>
                        
                    </li>
                </ul>
            </div>
            <div class="bottom-bar">
                <button ng-click="setFabric()">Save</button>
            </div>
        </div>
    </div>
    
    
    <!--
        Sidebar
    -->
    <div class="sidebar">
        <header>
            <h1><span>Inventory</span></h1>
        </header>
        <nav>
            <ul>
                <li>
                    <button ng-click="addInventory=true">Add Inventory</button>
                </li>
            </ul>
        </nav>
    </div>
    

    <div data-search-bar></div>
    
    
    <div class="workspace grid">
        <div class="header">
            <div class="row">
                <div class="cell preview">Preview</div>
                <div class="cell id">ID</div>
                <div class="cell description">Description</div>
                <div class="cell status">Status</div>
                
            </div>
        </div>
        <div class="listContainer">
            <div class="grid">
                <div class="body">
                    <a ng-repeat="item in itemList | exclude:'status':'SHIPPED' | exclude:'status':'ACKNOWLEDGED' | filter:query | orderBy: 'description' | limitTo:50" class="row" ng-href="#/order/acknowledgement/item/{{item.id}}">
                        
                        <div class="cell preview">
                            <img ng-src="{{item.image.url}}" />
                        </div>
                        
                        <div class="cell id">{{item.id}}</div>
                        <div class="cell description">{{item.description}}</div>
                        <div class="cell status">{{item.status}}</div>
                        
                    
                    </a>
                </div>
            </div>
        </div>
        <!--
        <div class="listContainer">
            <div class="list">              
                <a ng-repeat="item in itemList | exclude:'status':'SHIPPED' | exclude:'status':'ACKNOWLEDGED' | filter:query | orderBy: 'description' | limitTo:50" class="row" ng-href="#/order/acknowledgement/item/{{item.id}}">
                        <div class="profile-img cell">
                            <div>
                                <img fade-load ng-src="{{item.image.url}}" />
                            </div>
                            
                        </div>
                        <div class="cell">
                            <div class="details">
                                <div class="details-row">
                                    <div class="details-title">Item ID</div>
                                    <div class="details-data">{{item.id}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Description:</div>
                                    <div class="details-data">{{item.description}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Status:</div>
                                    <div class="details-data">{{item.status}}</div>
                                </div>
                                
                                
                            </div>
                        </div>
                </a>
            </div>
        </div>-->
        
    </div>
</div>