<div class="addUpolPage">
	<form>
		<table>
			<tr>
				<td><label>Model</label></td>
				<td><select ng-model="uphol.model" ng-options="model.model for model in models" ng-change="listConfigs(uphol.modelIndex)">
				</select></td>
			</tr>
			<tr>
				<td><label>Configuration</label></td>
				<td>
					<select ng-model="uphol.configuration" ng-options="config.configuration for config in modelConfigs">
						
					</select>
				</td>
			</tr>
			
			
			<tr>
				<td><label>Width</label></td>
				<td><input type="text" />cm</td>
			</tr>
			<tr>
				<td><label>Depth</label></td>
				<td><input type="text" />cm</td>
			</tr>
			<tr>
				<td><label>Height</label></td>
				<td><input type="text" />cm</td>
			</tr>
			
			
		</table> 
		
		
	</form>
	
</div>