<div class="createModelPage">
	<form>
		<table>
			<tr>
				<td><label>Name</label></td>
				<td><input placeholder="Model Name" required ng-model="model.name" /></td>
			</tr>
			<tr>
				<td><label>Model Number</label></td>
				<td><input placeholder="Model Number" required ng-model="model.number" /></td>
			</tr>
			<tr>
				<td><label>Collection</label></td>
				<td><select required ng-model="model.collection">
						<option value="Dellarobbia Thailand">Dellarobbia Thailand</option>
						<option value="Dwell Living">Dwell Living</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>Model Images</label></td>
				
			</tr>
		</table> 
		
		<ec-drop-target></ec-drop-target>
		<button type="submit" ng-click="addNewModel(model)">Submit</button>
	</form>
	
</div>