<div class="addCustomerPage">
	<form>
		<button type="submit" ng-click="saveSupplier()">Save</button>
		<button type="button" >Add Supplier Contact</button> 
		<table>
			<tr>
				<td><label>Company Name</label></td>
				<td><input type="text" ng-model="contact.name" /></td>
			</tr>
			<tr>
				<td><label>Address 1</label></td>
				<td><input type="text" ng-model="contact.address1" /></td>
			</tr>
			
			
			<tr>
				<td><label>Address 2</label></td>
				<td><input type="text" ng-model="contact.address2" /></td>
			</tr>
			<tr>
				<td><label>City</label></td>
				<td><input type="text" ng-model="contact.city" /></td>
			</tr>
			<tr>
				<td><label>Territory</label></td>
				<td><input type="text" ng-model="contact.territory" /></td>
			</tr>
			<tr>
				<td><label>Country</label></td>
				<td><input type="text" ng-model="contact.country" /></td>
			</tr>
			<tr>
				<td><label>Zipcode</label></td>
				<td><input type="text" ng-model="contact.zipcode" /></td>
			</tr>
			<tr>
				<td><label>Telephone</label></td>
				<td><input type="text" ng-model="contact.telephone" /></td>
			</tr>
			<tr>
				<td><label>Fax</label></td>
				<td><input type="text" ng-model="contact.fax" /></td>
			</tr>
		</table> 
		
		
	</form>
	
</div>