<div class="upholsteryPage">
	<div class="search"><input type="text" size="180" ng-model="query"/></div>
	
	<ec-side-menu>
		
	</ec-side-menu>
	<ec-add-upholstery ng-show="showAddItemModal">
	</ec-add-model>
	
	

	<div class="upholsterySection">
		
		<ul>
			<li ng-repeat="uphol in upholsteries | filter:query | orderBy:uphol" class="upholItem">
				<div>
					<table class="upholInfoTable">
						<tr>
							<td>Name:</td>
							<td>
								<input type="text" ng-model="uphol.name" />
							</td>
						</tr>
						<tr>
							<td>Model Number:  </td>
							<td>
								<input type="text" ng-model="uphol.model" />
							</td>
						</tr>
						<tr>
							<td>Collection:</td>
							<td>{{model.collection}}</td>
						</tr>
					</table>
					<div class="imagePreview">
						<img ng-src="{{model.images[0]}}" />
					</div>
					
					<div class="imageThumbArea">
						<div ng-repeat="image in model.images" class="thumbContainer">
							<img ng-src="{{image}}" />
						</div>
					</div>
					
				</div>
				<button ng-click="remove(model)">Delete</button>
				<button ng-click="prepareForUpdate(model)" class="updateButton">Edit</button>
			</li>
			
		</ul>
	</div>
</div>