<div class="addFoamPage">
	<form>
		<button type="submit" ng-click="saveSupplier()">Save</button>
		<table>
			<tr>
				<td><label>Supplier</label></td>
				<td><select ng-options="supplier.name for supplier in supplierList" ng-model="foam.supplier"></select></td>
			</tr>
			<tr>
				<td><label>Reference Number</label></td>
				<td><input type="text" ng-model="fiber.reference" /></td>
			</tr>
			<tr>
				<td>
					<label>Width per Sq</label>
					<select>
						<option value="m">Meter</option>
						<option value="ft">Foot</option>
					</select>
				</td>
				<td>
					<input type="text" />
				</td>
			</tr>
			<tr>
				<td><label>Color</label></td>
				<td>
					<select ng-model="foam.color">
						<option>Blue</option>
						<option>Yellow</option>
						<option>Green</option>
						<option>Pink</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label>Width</label></td>
				<td><input type="number" ng-model="foam.width" /></td>
			</tr>
			<tr>
				<td><label>Length</label></td>
				<td><input type="number" ng-model="foam.depth" /></td>
			</tr>
			<tr>
				<td><label>Thickness</label></td>
				<td><input type="number" ng-model="foam.height" /></td>
			</tr>
		</table> 
		
		
	</form>
	
</div>