/*
 * LESS file for the grid
 * component: ngGrid
 */
.grid-style {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-family: proxima;
  color: #CCC;
}
.grid-style .ngTopPanel {
  font-size: 1.2em;
  background-color: #282828;
}
.grid-style .ngRow {
  background: transparent;
  border-bottom: 1px solid #282828;
}
.grid-style .ngRow .ngCell .ngVerticalBar {
  background-color: #282828;
}
.gridStyle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-family: proxima;
  color: #CCC;
}
.gridStyle .ngTopPanel {
  font-size: 1.2em;
  background-color: #282828;
}
.gridStyle .ngRow {
  background: transparent;
  border-bottom: 1px solid #282828;
}
.gridStyle .ngRow .ngCell .ngVerticalBar {
  background-color: #282828;
}
