/*
 * View Page area
 */

.viewPage{
  font-family: Helvetica, Tahoma, sans-serif;
  //background:#D8D8D8;
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:200px;
  
  .workspace{
    overflow-y:scroll;
    position:absolute;
    right:0px;
    left:0px;
    top:0px;
    bottom:0px;
    z-index:1;
    
    /*
     * Container holding the list. The 
     * height is auto so that is can 
     * be put inside a container with 
     * scroll enabled to allow scrolling
     */  
    .listContainer{
      width:100%;
      .list{
        height:20px;
        width:100%;
        .listItem{
          background-color:#313131;
          border-top: 1px solid #3c3c3c;
          border-bottom: 1px solid #282828;
          .transition(all, 250ms, linear);
          &.cell{
              vertical-align:middle;
              padding:10px;
              label{
                font-size:10pt;
                color:#C1C1C1;
                .transition(all, 250ms, linear);
              }
              &.profile-img{
                  width:200px;
                  position:relative;
                  div{
                      position:absolute;
                      overflow:hidden;
                      top:0;
                      bottom:0;
                      left:0;
                      right:0;
                      img{
                          height:100%;
                      }
                  }
              }
          }
          td{
              .cell;
          }
          
          //States
          &:hover{
            background-color:#292929;
            td{
              label{
                color:#FFF;
              }
            }
          }
          &:last-child{
            border-bottom:none;
          }
        }
      }
    }
  }
}