<div class="createPOPage">
	<div class="sidebar" ng-switch on="sourceType" ng-init="sourceType = supplier">
		<div class="searchBar">
			<input ng-model="query" type="text" />
		</div>
		<ul class="sourceList" ng-switch-default="supplier">
			<li class="sourceItem" ec-draggable='{"type":"supplier", "index":{{$index}}}' ng-repeat="supplier in supplierList | filter:query">{{supplier.name}}</li>
		</ul>
		<ul class="sourceList" ng-switch-when="supply">
			<li class="sourceItem" ng-repeat="supply in supplyList | filter:supplier.name |filter:query |exclude:orderedSupplies" ec-draggable='{"type":"supply", "index":{{supply.id}}}'>{{supply.description}}</li>
		</ul>
	</div>
	<form class="po" name="form" ec-droppable="add()" novalidate>
		<div class="toolbar">
			<button type="submit" ng-disabled="form.$invalid || hasOrderedSupplies()" ng-click="create()">Create</button>
			<button type="button" ng-click="reset()">Reset</button> 
		</div>
		<div class="workspace">
				<table class="supplier">
					<tr>
						<td><label>Supplier</label></td>
						<td><label>{{supplier.name}}</label></td>
					</tr>
					<tr>
						<td><label>Address</label></td>
						<td><label>{{supplier.address1}}</label></td>
					</tr>
					<tr>
						<td><label>City</label></td>
						<td><label>{{supplier.city}}</label></td>
					</tr>
					<tr>
						<td><label>Territory</label></td>
						<td><label>{{supplier.territory}}</label></td>
					</tr>
					<tr>
						<td><label>Country</label></td>
						<td><label>{{supplier.country}}</label></td>
					</tr>
					<tr>
						<td><label>Telephone</label></td>
						<td><label>{{supplier.telephone}}</label></td>
					</tr>
				</table>
				
				<table class="deliveryDate">
					<tr>
						<td><label>Delivery Date</label></td>
						<td><input type="text" ui-date required  ng-model="po.deliveryDate" /></td>
					</tr>
				</table>
				<table class="shipping">
					<tr>
						<td><label>Shipping</label></td>
						<td>
							<select ng-model="po.shipping.type">
								<option value="none">None</option>
								<option value="air">Air Freight</option>
								<option value="ground">Ground Freight</option>
								<option value="sea">Sea Freight</option>
							</select>
						</td>
						
					</tr>
				</table>
				<table class="shipping" ng-show="orderedShipping()">
					<tr>
						
						<td>
							<label>Shipping Amount</label>
						</td>
						<td>
							<input type="text" ng-model="po.shipping.amount" ng-pattern="/^[1-9](\d+)?(\.\d{2})?$/"/>
						</td>
					</tr>
				</table>
				<table class="vat">
					<tr>
						<td><label>Vat</label></td>
						<td><input type="text" required ng-pattern="/^\d{0,2}$/" ng-model="po.vat" />%</td>
					</tr>
				</table>
				
				<table class="currency">
					<tr>
						<td><label>Currency</label></td>
						<td>
							<select required  ng-model="po.currency" >
								<option value="THB">Thai Baht</option>
								<option value="USD">US Dollars</option>
								<option value="EUR">Euro</option>
							</select>
						</td>
					</tr>
				</table>
				
			
			<div class="supplies" ng-hide="hasOrderedSupplies()">
				<table>
					<thead>
						<tr>
							<th class="itemNo"><label>No.</label></th>
							<th class="description"><label>Description</label></th>
							<th class="quantity"><label>Quantity</label></th>
							<th class="remove"><label>Remove</label></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="orderedSupply in orderedSupplies">
							<td class="itemNo"><label>{{$index+1}}</label></td>
							<td class="description"><label>{{orderedSupply.description}}</label></td>
							<td class="quantity"><label><input type="text" ng-pattern="/^[1-9](\d+)?$/" required ng-model="orderedSupplies[$index].quantity"/></label></td>
							<td class="remove" ng-click="remove($index)">x</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	</form>
	
</div>