<div class="viewPage">
	
	<!--
		Sidebar
	-->
	
	<div class="sidebar">
		<header>
			<h1>
				<span>Contacts</span>
			</h1>
		</header>
		<nav>
			<ul class="list">
				<li ui-if="currentUser.hasPermission('add_purchaseorder')"><a ng-href="#/purchase_order/create">Create</a></li>
			</ul>
		</nav>
		
	</div>
	
	<!--
		Search Bar
	-->
	
	<div class="searchBar" >
		<input size="40" placeholder="Search" ng-model="query" />
	</div>
	
	<!--
		Workspace
	-->
	
	<div class="workspace">
		<div class="listContainer">
			<table class="list">
				
				<tbody>
					<tr ng-repeat="po in poList | filter:query" class="listItem">
						<td>
							<label>PO# {{po.id}}</label>
							<table class="detailsTable">
								<tr>
									<td>Order Date:</td>
									<td>{{po.orderDate}}</td>
								</tr>
								<tr>
									<td>Delivery Date:</td>
									<td>{{po.deliveryDate}}</td>
								</tr>
								<tr>
									<td>Ordered By:</td>
									<td>{{po.employee}}</td>
								</tr>
							</table>
						</td>
						
					</tr>
				</tbody>
				
			</table>
		</div>
	</div>
	
</div>