<div class="viewModelsPage viewPage">
	
	<div class="toolbar" >
		<button click-url="/purchase_order/create" ui-if="currentUser.hasPermission('add_purchaseorder')">Create</button>
		<input class="searchBar" placeholder="Search" type="text" ng-model="query" />
	</div>
	<div class="workspace">
		<div class="listContainer">
			<table class="list">
				
				<tbody>
					<tr ng-repeat="po in poList | filter:query" class="listItem">
						<td>
							<label>PO# {{po.id}}</label>
							<table class="detailsTable">
								<tr>
									<td>Order Date:</td>
									<td>{{po.orderDate}}</td>
								</tr>
								<tr>
									<td>Delivery Date:</td>
									<td>{{po.deliveryDate}}</td>
								</tr>
								<tr>
									<td>Ordered By:</td>
									<td>{{po.employee}}</td>
								</tr>
							</table>
						</td>
						
					</tr>
				</tbody>
				
			</table>
		</div>
	</div>
	
</div>