<div class="addPage addSupplierPage"  ng-init="showAddContact=false">
	<!--
		The popup modal to add a new contact
		to the supplier
	-->
	<form name="contactForm" novalidate class="addContactModal" ng-show="showAddContact">
			<div class="title" ng-click="showAddContact=false">Add Supplier Contact</div>
			<table class="supplier_contact_table">
				<tr>
					<td>First Name</td>
					<td><input beautify type="text" required ng-model="contact.firstName" /></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input beautify type="text" required ng-model="contact.lastName" /></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input beautify type="email" required ng-model="contact.email" /></td>
				</tr>
				<tr>
					<td>Telephone</td>
					<td><input beautify type="text" required ng-model="contact.telephone" /></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="button" ng-disabled="contactForm.$invalid" ng-click="addContact()">Add Contact</button></td>
				</tr>
			</table>
		</form>
		
	<!--
		Form that adds a new Supplier
	-->
	<form name="form" novalidate class="addSupplierPage addPage">
		<div class="toolbar">
			<button type="submit" ng-disabled="form.$invalid" ng-click="save()">Save</button>
			<button type="button" ng-click="showAddContact=true">Add Contact</button>
		</div>
		
		<div class="workspace">
			<table>
				<tr>
					<td><label>Company Name</label></td>
					<td><input beautify type="text" required ng-model="supplier.name" /></td>
				</tr>
				
				
				<tr>
					<td><label>Address 1</label></td>
					<td><input beautify ec-blur="getPosition()" type="text" required ng-model="supplier.address1" /></td>
				</tr>
				
				
				<tr>
					<td><label>Address 2</label></td>
					<td><input beautify ec-blur="getPosition()" type="text" ng-model="supplier.address2" /></td>
				</tr>
				<tr>
					<td><label>City</label></td>
					<td><input beautify ec-blur="getPosition()" type="text" required ng-model="supplier.city" /></td>
				</tr>
				<tr>
					<td><label>Territory</label></td>
					<td><input beautify ec-blur="getPosition()" type="text" required ng-model="supplier.territory" /></td>
				</tr>
				<tr>
					<td><label>Country</label></td>
					<td><input beautify ec-blur="getPosition()" type="text" required ng-model="supplier.country" /></td>
				</tr>
				<tr>
					<td><label>Zipcode</label></td>
					<td><input ec-blur="getPosition()" type="text" required ng-model="supplier.zipcode" /></td>
				</tr>
				<tr>
					<td><label>Email</label></td>
					<td><input type="email" ng-model="supplier.email" /></td>
				</tr>
				<tr>
					<td><label>Telephone</label></td>
					<td><input telephone type="text" ng-pattern="/\d+/" ng-model="supplier.telephone" /></td>
				</tr>
				<tr>
					<td><label>Fax</label></td>
					<td><input telephone type="text" ng-pattern="/\d+/"  ng-model="supplier.fax" /></td>
				</tr>
				<tr>
					<td><label>Discount</label></td>
					<td><input type="text" required ng-pattern="/\d{1,2}/" ng-model="supplier.discount" />%</td>
				</tr>
				<tr>
					<td><label>Terms</label></td>
					<td><input type="text" ng-pattern="/\d+/" ng-model="supplier.terms" /></td>
				</tr>
				<tr>
					<td><label>Currency</label></td>
					<td>
						<select ng-model="supplier.currency">
							<option value="THB">Thai Baht</option>
							<option value="USD">US Dollar</option>
							<option value="EUR">Euro</option>
						</select>
					</td>
				</tr>
			</table> 
			<div class="mapContainer">
				<div id="map_canvas" map >
			
				</div>
			</div>
			
			
		</div>
		
		
		
	</form>
	
</div>