<div class="viewSuppliersPage">
	
	<!-- 
		Sidebar
	-->
	<div class="sidebar">
		<header>
			<h1><span>Suppliers</span></h1>
		</header>
		<nav>
			<ul>
				
				<li ui-if="currentUser.hasPermission('add_supplier')">
					<div click-url="/suppliers/add_supplier">
						Add Supplier
					</div>
				</li>
			</ul>
		</nav>
	</div>
	
	<!--
		Search Bar
	-->
	<div class="searchBar" >
		<input size="40" placeholder="Search" ng-model="query" />
	</div>
	
	<!--
		Workspace
	-->
	
	<div class="workspace">
		<div class="listContainer">
			<table class="list">
				
				<tbody>
					<tr ng-repeat="supplier in supplierList | filter:query | orderBy:'name'" class="listItem">
						<td>
							<table class="detailsTable">
								<tr class="name">
									<td>{{supplier.name}}</td>
								</tr>
								<tr class="address">
									<td>{{supplier.address.address1}}
										<br />
										{{supplier.address.address2}}
										<br />
										{{supplier.address.city+","+supplier.address.territory}}
										<br />
										{{supplier.address.country+" "+supplier.address.zipcode}}
									</td>
								</tr>
							</table>
						</td>
						<td><a ng-href="#/suppliers/{{supplier.id}}">Edit</a></td>
						
					</tr>
				</tbody>
				
			</table>
		</div>
	</div>
	
	
</div>