<div class="viewSuppliersPage">
	
	<div class="sidebar">
		<header>
			<h1><span>Suppliers</span></h1>
		</header>
		<nav>
			<ul>
				<li>
					<div>
						View Suppliers		
					</div>
				</li>
				<li ui-if="currentUser.hasPermission('add_supplier')">
					<div click-url="/suppliers/add_supplier">
						Add Supplier
					</div>
				</li>
			</ul>
		</nav>
	</div>
	
	<div class="workspace">
		<div class="listContainer">
			<table class="list">
				
				<tbody>
					<tr ng-repeat="supplier in supplierList" class="listItem">
						<td>
							<table class="detailsTable">
								<tr class="name">
									<td>{{supplier.name}}</td>
								</tr>
								<tr class="address">
									<td>{{supplier.address1}}
										<br />
										{{supplier.city+","+supplier.territory}}
										<br />
										{{supplier.country+" "+supplier.zipcode}}
									</td>
								</tr>
							</table>
						</td>
						<td><a ng-href="#/suppliers/{{supplier.id}}">Edit</a></td>
						
					</tr>
				</tbody>
				
			</table>
		</div>
	</div>
	
	
</div>