
.addSupplierPage{
  .addPage;
  
  .mapContainer{
    position:absolute;
    top:10px;
    right:10px;
    left:325px;
    bottom:10px;
    min-width:210px;
    min-height:210px;
    overflow:hidden;
    background:#A0A0A0;
    border-radius:5px;
  }
  #map_canvas{
    
    top:5px;
    bottom:5px;
    left:5px;
    right:5px;
    min-width:200px;
    min-height:200px;
    position:absolute;
    
  }
}
