<div class="acknowledgementViewPage">
    
    <!--
        Sidebar
    -->
    
    <div class="sidebar">
        <header>
            <h1>
                <span>Acknowledgements</span>
            </h1>
        </header>
        <nav>
            <ul class="list">
                <li ui-if="currentUser.hasPermission('add_acknowledgement')"><a ng-href="#/order/acknowledgement/create">Create</a></li>
            </ul>
        </nav>
        
    </div>
    
    <!--
        Search Bar
    -->
    
    <div data-search-bar></div>
    
    <!--
        Workspace
    -->
    
    <div class="workspace grid">
    	<div class="grid-style" ng-grid="gridOptions"></div>
    </div>
    
</div>