<div class="acknowledgementViewPage">
    
    <!--
        Sidebar
    -->
    
    <div class="sidebar">
        <header>
            <h1>
                <span>Acknowledgements</span>
            </h1>
        </header>
        <nav>
            <ul class="list">
                <li ui-if="currentUser.hasPermission('add_acknowledgement')"><a ng-href="#/order/acknowledgement/create">Create</a></li>
            </ul>
        </nav>
        
    </div>
    
    <!--
        Search Bar
    -->
    
    <div data-search-bar></div>
    
    <!--
        Workspace
    -->
    
    <div class="workspace grid">
        <div class="header">
            <div class="row">
                <div class="cell id">Ack#</div>
                <div class="cell customer">Customer</div>
                <div class="cell status">Status</div>
                <div class="cell delivery-date">Delivery Date</div>
                <div class="cell order-date">Order Date</div>
                <div class="cell processed-by">Processed By</div>
               
            </div>
        </div>
        <div class="listContainer">
            
            <div class="grid">
                
                <div class="body">
                    <a class="row" data-ng-repeat="ack in ackList | filter:query | orderBy:'status' | orderBy:'-id' | limitTo:100" ng-href="#/order/acknowledgement/{{ack.id}}" ng-class="{acknowledged:ack.status == 'ACKNOWLEDGED',shipped:ack.status=='SHIPPED'}">
                        <div class="cell id">{{ack.id}}</div>
                        <div class="cell customer">{{ack.customer.name}}</div>
                        <div class="cell status">{{ack.status}}</div>
                        <div class="cell delivery-date">{{ack.delivery_date | date:"MMMM d, yyyy"}}</div>
                        <div class="cell order-date">{{ack.time_created | date:"MMMM d, yyyy"}}</div>
                        <div class="cell processed-by">{{ack.employee}}</div>
                        
                    </a>
                </div>
            </div>
            <div class="list">
                
                    <!--
                    <a ng-repeat="ack in ackList | filter:query | orderBy:'-id' | limitTo:50" class="row" ng-href="#/order/acknowledgement/{{ack.id}}">
                        <div class="cell">
                            <div class="details">
                                <div class="details-row">
                                    <div class="details-title">Ack#:</div>
                                    <div class="details-data">{{ack.id}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Customer:</div>
                                    <div class="details-data">{{ack.customer.name}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Order Date:</div>
                                    <div class="details-data">{{ack.time_created | date:"MMMM d, yyyy"}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Delivery Date:</div>
                                    <div class="details-data">{{ack.delivery_date | date:"MMMM d, yyyy"}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Ordered By:</div>
                                    <div class="details-data">{{ack.employee}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Status:</div>
                                    <div class="details-data" 
                                    ng-class="{acknowledged:ack.status == 'ACKNOWLEDGED',shipped:ack.status=='SHIPPED'}">{{ack.status}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    -->
            </div>
        </div>
    </div>
    
</div>