<div class="upholstery-view-page">
    
    
    
    <div class="sidebar">
        <header>
            <h1><span>Upholstery</span></h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a ng-href="#/product/upholstery/add">Add Upholstery</a>
                </li>
                    
            </ul>
        </nav>
    </div>
    

    <div data-search-bar></div>
    
    
    <div class="workspace grid" style="z-index:1;">
    	<div class="grid-style" ng-grid="gridOptions"></div>
        
    </div>
        
</div>