<div class="createAcknowledgementPage" ng-init="show_customers=false; show_upholstery=false;show_custom_item=false;" fade-in>
	
	
	
	
	<form class="ack" name="form" ec-droppable="add()" novalidate>
		
		<!--
			Sidebar
		-->
		
		<div class="sidebar">
			<header>
				<h1>
					<span>Contacts</span>
				</h1>
			</header>
			<nav>
				<ul class="list">
					<li><div ng-class="{dirty:form.$invalid}" ng-click="create()" >Create</div></li>
					<li><div ng-click="show_customers=!show_customers">Add Customer</div></li>
					<li><div ng-class="{dirty:!ack.customer}" ng-click="show_upholstery=true">Add Upholstery</div></li>
					<li><div ng-class="{dirty:!ack.customer}" ng-click="show_modal=true">Add Custom Item</div></li>
					<li><div ng-click="reset()" >Reset</div></li>
				</ul>
			</nav>
			
		</div>
		
		<!--
			Panels
		-->
		
		<div class="customer_modal" data-modal ng-model="show_customers">
			<div class="title">
				Customers
				<input type="text" class="search" ng-model="query_customers" />
			</div>
			<div class="container">
				<ul class="list">
					<li class="item" ng-click="add_customer($index)" ng-repeat="customer in customer_list | filter:query_customers">{{customer.name}}</li>
				</ul>
			</div>
			
		</div>
		
		<div class="upholstery_modal" data-modal ng-model="show_upholstery">
			<div class="title">
				Upholstery
				<input type="text" class="search" ng-model="query_uphol" />
				
			</div>
			<div class="container">
				<div class="list">
					<div class="list_item" ng-click="add_upholstery($index)" ng-repeat="upholstery in upholstery_list | filter:query_uphol ">
						<img ng-src="{{upholstery.url}}" />{{upholstery.description}}
					</div>
				</div>
			</div>
			
		</div>
		<div data-modal ng-model="show_fabric" class="fabric_modal">
			<div class="title">
				Fabric
				<input type="text" class="search" ng-model="query_fabric" />
				
			</div>
			<div class="container">
				<div class="product_container">
					<div class="product" data-drop-on="ack.products[ack.products.length-1].fabric">
						<div>{{ack.products[ack.products.length-1].description}}</div>
						
						<div class="fabric" ui-if="ack.products[ack.products.length-1].fabric">
							Fabric:  {{ack.products[ack.products.length-1].fabric.description}}
							<img ng-src="{{ack.products[ack.products.length-1].fabric.image_url}}" />
						</div>
						
					</div>
					<div class="pillows" ng-repeat="pillow in ack.products[ack.products.length-1].pillows" data-drop-on="pillow.fabric">
						<div>{{pillow.type | beautify}} Pillow</div>
						<div class="fabric">
							Fabric: {{pillow.fabric.description}}
							<img ng-src="{{pillow.fabric.image_url}}" />
						</div>
					</div>
				</div>
				<div class="fabric_container">
					<ul class="list">
						<li class="item" ng-repeat="fabric in fabric_list | filter:query_fabric " data-drag-on="fabric">
							<img ng-src="{{fabric.image_url}}" />
							<div class="details">
								Pattern: {{fabric.pattern}}
								<br />
								Color: {{fabric.color}}
							</div>
							
						</li>
					</ul>
				</div>
				<button style="position:absolute; bottom:10px; left:10px; z-index:10" ng-click="show_fabric = false">Submit</button>
				
			</div>
			
		</div>
		
		<div data-modal ng-model="show_modal" image-drop-target>
			<table>
				<tr>
					<td>Description</td>
					<td><input type="text" ng-model="custom.description" /></td>
					<td>Quantity</td>
					<td><input type="text" ng-model="custom.quantity" /></td>
					<div ng-click="show_modal=false">Click me</div>
				</tr>
			</table>
		</div>
		
		<!--
			Workspace
		-->
		<div class="workspace">
				
				<div class="customer">
					<span class="title">Customer</span>
					<table>
					
					<tr>
						<td><label>{{ack.customer.name}}</label></td>
					</tr>
					<tr>
						<td><label>{{ack.customer.addresses[0].address1}}</label></td>
					</tr>
					<tr>
						<td><label>{{ack.customer.addresses[0].city}}, {{ack.customer.addresses[0].territory}}</label></td>
					</tr>
					<tr>
						<td><label>{{ack.customer.addresses[0].territory}}, {{ack.customer.addresses[0].country}} {{ack.customer.addresses[0].zipcode}}</label></td>
					</tr>
					<tr>
						<td><label>{{ack.customer.telephone}}</label></td>
					</tr>
					
				</table>
				</div>
				
				
				<div class="order">
					<table class="deliveryDate">
						<tr>
							<td><label>Delivery Date</label></td>
							<td><input type="text" ui-date required  ng-model="delivery_date" /></td>
						</tr>
					</table>
					<table class="shipping">
						<tr>
							<td><label>Shipping</label></td>
							<td>
								<select ng-model="ack.shipping.type">
									<option value="none">None</option>
									<option value="air">Air Freight</option>
									<option value="ground">Ground Freight</option>
									<option value="sea">Sea Freight</option>
								</select>
							</td>
							
						</tr>
					</table>
					<table class="shipping" ng-show="orderedShipping()">
						<tr>
							
							<td>
								<label>Shipping Amount</label>
							</td>
							<td>
								<input type="text" ng-model="ack.shipping.amount" ng-pattern="/^[1-9](\d+)?(\.\d{2})?$/"/>
							</td>
						</tr>
					</table>
					<table class="vat">
						<tr>
							<td><label>Vat</label></td>
							<td><input type="text" required ng-pattern="/^\d{0,2}$/" ng-model="ack.vat" />%</td>
						</tr>
					</table>
					
					<table class="currency" ui-if="supplier">
						<tr>
							<td><label>Currency</label></td>
							<td>
								{{supplier.currency}}
							</td>
						</tr>
					</table>
				</div>
				
				
			
			<div class="products" ng-show="ack.products">
				<label>Products</label>
				<div class="product" ng-repeat="product in ack.products">
					{{product.description}}
					<img ng-src="{{product.url}}" />
				</div>
				
				
			</div>
		</div>
	</form>
	
</div>