<div class="detailsPage">
	<div class="toolbar">
			<button type="button" ng-click="remove()">Delete</button>
	</div>
	<table>
			<tr>
				<td><label>Name</label></td>
				<td><input type="text" ng-model="user.name" ec-blur="update()" /></td>
			</tr>
			
			
			<tr>
				<td><label>Email</label></td>
				<td><input type="text" ng-model="user.email" ec-blur="update()" /></td>
			</tr>
			
			<tr>
				<td><label>Groups</label></td>
				<td><input type="text" ng-model="user.cost" ec-blur="update()" /></td>
			</tr>
			
		</table> 
	
</div>