<div class="detailsPage" ng-init="edit=false;">
	
	<!--
		Sidebar
	-->
	
	<div class="sidebar">
		<header>
			<h1><span>Add User</span></h1>
		</header>
		<nav>
			<ul>
				<li>
					<div ng-click="edit=!edit">
						Edit
					</div>
				</li>
				<li>
					<div ng-click="remove()">
						Delete
					</div>
				</li>
			</ul>
		</nav>
	</div>
	
	
	
	<!--
		Edit Panel
	-->
	
	<table>
			<tr>
				<td><label>First Name</label></td>
				<td><input type="text" ng-model="user.firstName" ec-blur="update()" /></td>
			</tr>
			<tr>
				<td><label> Last Name</label></td>
				<td><input type="text" ng-model="user.lastName" ec-blur="update()" /></td>
			</tr>
			
			<tr>
				<td><label>Email</label></td>
				<td><input type="text" ng-model="user.email" ec-blur="update()" /></td>
			</tr>
			
			<tr>
				<td><label>Groups</label></td>
				<td ng-repeat="group in user.groups">{{group.name}}</td>
			</tr>
			
		</table> 
	
</div>