<div class="viewPage">
	
	<!--
		Sidebar
	-->
	<div class="sidebar">
		<header>
			<h1><span>Suppliers</span></h1>
		</header>
		<nav>
			<ul>
				<li ui-if="currentUser.hasPermission('add_user')">
					<div click-url="/users/add_user">
						Create User
					</div>
				</li>
			</ul>
		</nav>
	</div>	
	
	
	<div class="workspace">
		<div class="listContainer">
			<table class="list">
				
				<tbody>
					<tr ng-repeat="user in userList | filter:query" class="listItem">
						<td>
							<table class="detailsTable">
								<tr>
									<td>Name:</td>
									<td>{{user.firstName+' '+user.lastName}}</td>
								</tr>
								<tr>
									<td>Username:</td>
									<td>{{user.username}}</td>
								</tr>
								<tr>
									<td>Email:</td>
									<td>{{user.email}}</td>
								</tr>
							</table>
						</td>
						
						<td><a ng-href="#/users/{{user.id}}">edit</a></td>
					</tr>
				</tbody>
				
			</table>
		</div>
	</div>
	
</div>