<div class="viewPage">
	
	<input class="searchBar" placeholder="Search" type="text" ng-model="query" />
	
	<div class="listContainer">
		<table class="list">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in userList | filter:query" class="listItem">
					<td><a ng-href="#/users/{{user.id}}">{{user.name}}</a></td>
					<td><a ng-href="#/users/{{user.id}}">{{user.email}}</a></td>
				</tr>
			</tbody>
			
		</table>
	</div>
</div>