/*
 * LESS file for the supply view
 */

.supply-view-page{
  
    .new-supply{
        left:50%;
        margin-left:-20em;
        width: 40em;
        .details{
            margin-left:2em;
            margin-top:2em;
            tr{
                td{
                    padding:0.2em 0em;
                    &:first-child{
                    }
                    
                    &:last-child{
                        padding-left:0.4em;
                    }
                }
            }
        }
    }
    .grid-style{
        .ngRow{
            .image{
            
                img{
                    height:auto;
                    width:100%;
                }
            }
        }
    }
}
