<div class="viewFabricPage">

    <!--
        Sidebar
    -->
    <div class="sidebar">
        <header>
            <h1><span>Fabric</span></h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a ng-href="#/supply/fabric/add">Add Fabric</a>
                </li>
                
            </ul>
        </nav>
    </div>
    
    <!--
        Search Bar
    -->
    <div data-search-bar></div>
    
    
    <!--
        Workspace
    -->
    
    <div class="workspace" style="z-index:1;">
        <div class="listContainer">
            <div class="list">
                
                    <a ng-repeat="fabric in fabricList | filter:query | orderBy:'supplier.name'" class="row" ng-href="#/supply/fabric/{{fabric.id}}">
                        <div class="profile-img cell">
                            <div>
                                <img ng-src="{{fabric.image_url}}" />
                            </div>
                            
                        </div>
                        <div class="cell">
                            <div class="details">
                                <div class="details-row">
                                    <div class="details-title">Supply ID</div>
                                    <div class="details-data">{{fabric.id}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Supplier:</div>
                                    <div class="details-data">{{fabric.supplier.name}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Pattern:</div>
                                    <div class="details-data">{{fabric.pattern}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Color:</div>
                                    <div class="details-data">{{fabric.color}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Content</div>
                                    <div class="details-data">{{fabric.content}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Current Length</div>
                                    <div class="details-data">{{fabric.depth}}</div>
                                </div>
                                <div class="details-row">
                                    <div class="details-title">Reserved Length</div>
                                    <div class="details-data">{{fabric.reserved_length}}</div>
                                </div>
                            </div>
                        </div>                      
                    </a>
            </div>
        </div>
    </div>
    
</div>